@import "./colors.scss";

$fontWeight_regular: 400;
$fontWeight_medium: 600;
$fontWight_bold: 700;

$primary_color: $primary-500;
$border-color-base: $gray-200;

$input-bg: #f2f2f2;
$input-focused-bg: #f9f6fa;
$input-placeholder-color: #bfbfbf;

html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: $fontWeight_medium;
    font-size: 18px;
  }

  p {
    margin: 0;
  }

  .ant-typography.ant-typography-primary {
    color: $primary_color;
  }

  .ant-tag-default,
  .ant-tag-gray {
    color: #fff;
    background: $gray-400;
    border-color: $gray-400;
  }

  .ant-tag-success {
    color: #fff;
    background: $success-400;
    border-color: $success-400;
  }

  .ant-tag-error,
  .ant-tag-danger {
    color: #fff;
    background: $danger-400;
    border-color: $danger-400;
  }

  .ant-tag-primary {
    color: #fff;
    background: $primary-500;
    border-color: $primary-500;
  }

  div.ant-typography,
  .ant-typography p {
    margin-bottom: 0;
  }

  .ant-btn {
    .anticon {
      &-TriangleUp,
      &-TriangleDown {
        vertical-align: baseline;
        font-size: 10px;
      }
    }
  }

  .site-page-header {
    margin: 24px auto 16px;
  
    .ant-page-header-heading-title {
      text-transform: capitalize;
    }
  }
  

  .ant-carousel {
    .slick-slide {
      text-align: center;
      height: 550px;
      line-height: 168px;
      background: #f2f2f2;
      overflow: hidden;
    }
  }
  
  .ant-carousel {
    .slick-slide {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .code-box-demo .ant-tag {
    margin-bottom: 8px;
  }
  
  
  .steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 100px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }
  [data-theme="dark"] .steps-content {
    margin-top: 16px;
    border: 1px dashed #303030;
    background-color: rgba(255,255,255,0.04);
    color: rgba(255,255,255,0.65);
    padding-top: 80px;
  }

  .ant-btn,
  .ant-radio-button-wrapper {
    font-weight: $fontWeight_medium;
  }

  .ant-badge-count {
    background: $danger-400;
  }
}

iframe {
  border: 0;
}

.color-danger {
  color: $danger-400;
}

.text-center {
  text-align: center;
}

.otp-container {
  justify-content: center;
}

.otp-input {
  width: 48px !important;
  height: 48px !important;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #f2f2f2;
  font-weight: 500;
  font-size: 2rem;

  &::placeholder {
    color: #bfbfbf;
  }

  &:focus {
    background-color: rgba(98, 42, 137, 0.04);
    outline: none;
    border-color: #622a89;
  }

  &:hover {
    background-color: rgba(98, 42, 137, 0.04);
  }

  // &.otp-input-error {
  //   border-color: #e53e3e;
  // }
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

// Ant Design - Customize Theme

#zuum-web-app {
  .ant-picker {
    .ant-picker-input > input {
      font-weight: 500;
    }

    .ant-picker-clear {
      background: $input-bg;
    }

    &.ant-picker-focused {
      box-shadow: none;
      background: $input-focused-bg;
    }
  }

  .ant-input-affix-wrapper {
    &-focused {
      background: $input-focused-bg;
      box-shadow: none;
    }

    .ant-input-prefix {
      margin-right: 16px;
    }
    .ant-input-suffix {
      margin-left: 16px;
    }
  }

  .ant-input {
    font-weight: 500;

    &:focus,
    &-focused {
      box-shadow: none;
      background: $input-focused-bg;
    }
  }

  .ant-input-number {
    &-input {
      font-weight: 500;
    }

    &:focus,
    &-focused {
      box-shadow: none;
      background: $input-focused-bg;
    }
  }

  .ant-select {
    font-weight: 500;

    &.ant-select-focused {
      &:not(.ant-select-disabled) {
        .ant-select-selector {
          box-shadow: none;
        }
      }
    }

    .ant-select-selection-placeholder {
      color: $input-placeholder-color;
      opacity: 1;
    }

    .ant-select-clear {
      > * {
        vertical-align: top;
      }
    }
  }

  .ant-switch {
    box-shadow: none;

    &:not(.ant-switch-checked) {
      background: $border-color-base;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .ant-table {
    .ant-table-thead > tr > th {
      font-weight: $fontWeight_medium;
    }
  }
}

.ant-btn {
  &.ant-btn-success {
    background: $success-400;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: $success-500;
      border-color: $success-500;
      color: #fff;
    }
  }

  &.ant-btn-danger {
    background: $danger-400;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: $danger-500;
      border-color: $danger-500;
      color: #fff;
    }
  }
}

p {
  margin: 0;
}

.text {
  &-primary {
    color: $primary-500;
  }
  &-secondary {
    color: $gray-400;
  }
  &-success {
    color: $success-400;
  }
  &-danger {
    color: $danger-400;
  }

  &-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.bg {
  &-body {
    background: #fafafa;
  }
  &-white {
    background: #fff;
  }
  &-primary {
    background: $primary-500;
  }
  &-secondary {
    background: $gray-400;
  }
}

.font-weight {
  &-regular {
    font-weight: $fontWeight_regular;
  }
  &-medium {
    font-weight: $fontWeight_medium;
  }
  &-bold {
    font-weight: $fontWight_bold;
  }
}

.line-height {
  &-normal {
    line-height: normal;
  }
}

.display {
  &-none {
    display: none;
  }

  &-inline {
    display: inline;
  }

  &-block {
    display: block;
  }

  &-inline-block {
    display: inline-block;
  }

  &-flex {
    display: flex;
  }

  &-inline-flex {
    display: inline-flex;
  }
}

.flex-direction {
  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-column {
    flex-direction: column;
  }

  &-column-reverse {
    flex-direction: column-reverse;
  }
}

.align-items {
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}

.justify-content {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
}

.flex {
  &-0 {
    flex: 0;
  }

  &-1 {
    flex: 1;
  }

  &-grow-0 {
    flex-grow: 0;
  }

  &-grow-1 {
    flex-grow: 1;
  }

  &-shrink-0 {
    flex-shrink: 0;
  }

  &-shrink-1 {
    flex-shrink: 1;
  }
}

.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }

  &-fixed {
    position: fixed;
  }
}

.z-index {
  &-hide {
    z-index: -1 !important;
  }

  &-auto {
    z-index: auto !important;
  }

  &-badge {
    z-index: auto !important;
  }

  &-tableFixed {
    z-index: 2 !important;
  }

  &-affix {
    z-index: 10 !important;
  }

  &-backTop {
    z-index: 10 !important;
  }

  &-pickerPanel {
    z-index: 10 !important;
  }

  &-popupClose {
    z-index: 10 !important;
  }

  &-modal {
    z-index: 1000 !important;
  }

  &-modalMask {
    z-index: 1000 !important;
  }

  &-message {
    z-index: 1010 !important;
  }

  &-notification {
    z-index: 1010 !important;
  }

  &-popover {
    z-index: 1030 !important;
  }

  &-dropdown {
    z-index: 1050 !important;
  }

  &-picker {
    z-index: 1050 !important;
  }

  &-popoconfirm {
    z-index: 1060 !important;
  }

  &-tooltip {
    z-index: 1070 !important;
  }

  &-image {
    z-index: 1080 !important;
  }

  &-header {
    z-index: 900 !important;
  }

  &-sidebar {
    z-index: 90 !important;
  }
}

.long-and-truncated {
  &,
  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@for $i from 0 through 11 {
  .max-width,
  .width-#{8 * $i} {
    width: #{8 * $i}px;
  }
}

.max-width,
.width {
  &-100 {
    width: 100%;
  }

  &-50 {
    width: 50%;
  }

  &-auto {
    width: auto;
  }
}

@for $i from 0 through 11 {
  .max-height,
  .height-#{8 * $i} {
    height: #{8 * $i}px;
  }
}

.max-height,
.height {
  &-100 {
    height: 100%;
  }

  &-50 {
    height: 50%;
  }

  &-auto {
    height: auto;
  }
}

.shadow {
  &-none {
    box-shadow: none;
  }

  &-sm {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  &-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  &-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  &-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
}

.transition {
  &-none {
    transition: none;
  }

  &,
  &-240 {
    transition: all 0.24s ease-in-out;
  }
}

.rounded {
  border-radius: 4px !important;

  &-none {
    border-radius: 0 !important;
  }

  &-sm {
    border-radius: 2px !important;
  }

  &,
  &-md {
    border-radius: 4px !important;
  }

  &-lg {
    border-radius: 8px !important;
  }

  &-xl {
    border-radius: 16px !important;
  }

  &-circle {
    border-radius: 999px !important;
  }

  &-pill {
    border-radius: 50rem !important;
  }
}

.border {
  border: 1px solid $border-color-base;

  &-top {
    border-top: 1px solid $border-color-base;
  }

  &-right {
    border-right: 1px solid $border-color-base;
  }

  &-bottom {
    border-bottom: 1px solid $border-color-base;
  }

  &-left {
    border-left: 1px solid $border-color-base;
  }
}

.font-size-12 {
  font-size: 12px;
}

.font-size-0 {
  font-size: 14px;
}

.font-size {
  @for $i from 0 through 13 {
    &-#{14 + 2 * $i} {
      font-size: #{14 + 2 * $i}px;
    }
  }
}

$types: padding, margin;
$types2: top, right, bottom, left;
$types3: vertical, horizontal;

@each $type in $types {
  @each $type2 in $types2 {
    .#{$type}-#{$type2}-4 {
      #{$type}-#{$type2}: 4px;
    }
    .#{$type}-#{$type2}--4 {
      #{$type}-#{$type2}: -4px;
    }
  }
}

@each $type in $types {
  @each $type2 in $types2 {
    @for $i from 0 through 10 {
      .#{$type}-#{$type2}-#{8 * $i} {
        #{$type}-#{$type2}: #{8 * $i}px;
      }
      @if ($i != 0) {
        .#{$type}-#{$type2}--#{8 * $i} {
          #{$type}-#{$type2}: #{-8 * $i}px;
        }
      }
    }
  }
}

@each $type in $types {
  @each $type3 in $types3 {
    .#{$type}-#{$type3}-4 {
      @if ($type3 == "horizontal") {
        #{$type}-left: 4px;
        #{$type}-right: 4px;
      } @else {
        #{$type}-top: 4px;
        #{$type}-bottom: 4px;
      }
    }

    .#{$type}-#{$type3}--4 {
      @if ($type3 == "horizontal") {
        #{$type}-left: -4px;
        #{$type}-right: -4px;
      } @else {
        #{$type}-top: -4px;
        #{$type}-bottom: -4px;
      }
    }
  }
}

@each $type in $types {
  @each $type3 in $types3 {
    @for $i from 0 through 10 {
      .#{$type}-#{$type3}-#{8 * $i} {
        @if ($type3 == "horizontal") {
          #{$type}-left: #{8 * $i}px;
          #{$type}-right: #{8 * $i}px;
        } @else {
          #{$type}-top: #{8 * $i}px;
          #{$type}-bottom: #{8 * $i}px;
        }
      }

      @if ($i != 0) {
        .#{$type}-#{$type3}--#{8 * $i} {
          @if ($type3 == "horizontal") {
            #{$type}-left: #{-8 * $i}px;
            #{$type}-right: #{-8 * $i}px;
          } @else {
            #{$type}-top: #{-8 * $i}px;
            #{$type}-bottom: #{-8 * $i}px;
          }
        }
      }
    }
  }
}

$aligns: top, right, bottom, left;

@each $align in $aligns {
  @for $i from 0 through 50 {
    .#{$align}-#{2 * $i} {
      #{$align}: #{2 * $i}px;
    }

    .#{$align}--#{2 * $i} {
      #{$align}: #{-2 * $i}px;
    }
  }
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $primary_color;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
